.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.embla__slide h2,
.embla__slide p {
  color: #fffffa;
  position: relative;
}
.embla__slide h2 {
  font-size: 66px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Arthemys';
  text-align: center;
  line-height: 1;
}
.embla__slide h2 span {
  display: block;
  font-family: 'Red Hat';
  line-height: 1;
  font-size: 58px;
}
.embla__slide p {
  font-size: 24px;
  margin-top: 30px;
  font-family: 'Merc';
}
.embla__slide::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar {
  z-index: 9;
  width: 100%;
  font-family: 'Merc';
  font-size: 18px;
}
#cta {
  border: 0;
  background: #000;
  padding: 8px 22px;
  border-radius: 10px;
  font-family: 'Merc';
}
.why-us {
  padding-top: 60px;
  padding-bottom: 70px;
}
.why-us img {
  width: 60px;
}
.section-vehicles {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.section-vehicles img {
  height: 80px;
  width: auto;
}
.cta {
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.cta h2 {
  position: relative;
  font-size: 42px;
  font-weight: bold;
  max-width: 60%;
  text-align: center;
}
.cta::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.list-items img {
  max-width: 60%;
}
.whyus .text-xl {
  font-size: 18px;
  font-family: 'Merc';
  max-width: 200px;
}
header .font-mono {
  font-family: 'Merc';
  text-transform: none;
  font-size: 20px;
}
.leading-loose {
  font-family: 'Merc';
  color: #000;
}
iframe {
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 86%;
}
.title-text {
  font-family: 'Red Hat';
  font-weight: 700;
  font-size: 38px;
}
.why-section .w-full {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.translations {
  background-image: url('https://images.pexels.com/photos/593172/pexels-photo-593172.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}
.translations::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.translations p {
  position: relative;
}
.laptop {
  position: relative;
  min-height: 100vh;
  background-color: black;
}

@media (max-width: 767px) {
  .embla__slide h2 {
    font-size: 36px;
  }
  .embla__slide h2 span {
    font-size: 32px;
  }
}

#cta a {
  display: flex;
  align-items: center;
}

#cta img {
  max-height: 15px;
  margin-right: 5px;
}

*:focus-visible {
  border-color: #000 !important;
  box-shadow: 0 0 0 1px #000 !important;
}